/* Footer.css */

.footerup {
    background-color: #000000;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ff004f;
  }
  .foorterdown{
    background-color: #000000;
    color: #fff;
    padding-bottom: 10px;
    padding-left: 600px;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 40px;
    margin-left: 30px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
    white-space: nowrap;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-section input,
  .footer-section textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .footer-section button {
    background-color: #ff004f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .footer-section button:hover {
    background-color: #e64c3c;
  }
  .footer-section a:hover {
    color: #ff004f;
  }
  .footer-section {
    flex-direction: column;
  }
  